.BannerSection {
    width: 100%;
    min-width: 100%;
    min-height: 30rem;
    background-image: linear-gradient(to bottom, rgba(0, 132, 196, 0.55) 33%, rgba(0, 132, 196, 0.45) 66%, rgba(0, 132, 196, 0.25) 100%), url('../images/people-running-marathon.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    margin: 0 0 1rem 0;
}